In [63]:
import pandas
from geopy.geocoders import Nominatim
df = pandas.read_csv("./data/supermarkets.csv")[:3]
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25

Get longitude and latitude

In [64]:
nom = Nominatim()

In [65]:
n = nom.geocode("551 Alvarado St, San Francisco, CA 94114")

In [66]:
n.latitude # or longitude

37.7536733265306

In [67]:
df["Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25

---
# Important! Key concept to understand!
### apply() and lambda
apply(): Apply a function to a table cell

In [68]:
df["Coordinates"] = df["Address"].apply(nom.geocode)
df["Coordinates"]

0    (3666, 21st Street, Noe Valley, SF, California...
1                                                 None
2    (332, Hill Street, Noe Valley, SF, California,...
Name: Coordinates, dtype: object

In [69]:
df["Coordinates"][0].latitude

37.756488877551

In [70]:
df["latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,latitude,longitude
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601